.ventParams {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(44, 51, 60); ; 
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px ;
    font-size: 1.8rem;
}
.item {
    width: 30%;
}
.card {
    margin: auto; 
}