.customModalBackdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.customModal {
  background-color: rgb(44, 51, 60);
  padding: 20;
  border-radius: 10;
  width: 720;
  max-height: 90vh;
  overflow: auto;
}
